           * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
 
        
        body {
            width: 100%;
            height: 100vh;
            background-color: #f1f5f8;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            flex-direction: column;
            font-weight: 500;
            gap: 20px;
        }
        .bg{
            width: auto;
            background: #000;
            color: white;
            padding: 20px;
            font-size: 30px;
            border-radius: 10px;
            font-weight: 600;
            letter-spacing: 4px;
        }
        span{
            color: #fff603;;
        }
    
        .btn{
    border: 1px solid #ffffff;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: black;
}
.btn:hover{
    border: 1px solid #000000;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    background-color: white;
}
h1 {
    font-family: cursive;
    font-weight: 800;
    font-size: 66px;
}